@import "../settings/global.scss", "compass";

body, html {
  font: 300 1em/1.5 sans-serif;
  background:#fff;
  height:100%;
}

.container {
  background:#f1e9d6;
  margin:2em 0;
}

.content {
  max-width:23em;
  margin:0 auto;
  padding:4em 0;
}

.gravatar {
  background: sprite($icons, gravatar) no-repeat;
  width:134px;
  height:134px;
  margin:auto;
}

.logo {
  background: sprite($icons, logo) no-repeat;
  width:368px;
  height:63px;
  margin:2em auto;
}

header, footer {
  height:52px;
  width:100%;
}

header {
  background: #fff image-url('background-top.png') repeat-x;
}

footer {
  background: #fff image-url('background-bottom.png') repeat-x;
}

section.links {
  height:51px;
  a {
    display:block;
    float:left;
    margin:0 1.5em 2em 0;
    &:last-child {
      margin-right:0;
    }
    i {
      display:block;
      &.icon-github {
        @include sprite-dimensions($icons, github);
        background: sprite($icons, github) repeat-x;
      }
      &.icon-linkedin {
        @include sprite-dimensions($icons, linkedin);
        background: sprite($icons, linkedin) repeat-x;
      }
      &.icon-facebook {
        @include sprite-dimensions($icons, facebook);
        background: sprite($icons, facebook) repeat-x;
      }
      &.icon-twitter {
        @include sprite-dimensions($icons, twitter);
        background: sprite($icons, twitter) repeat-x;
      }
      &.icon-instagram {
        @include sprite-dimensions($icons, instagram);
        background: sprite($icons, instagram) repeat-x;
      }
    }
  }
}