@import "../settings/global.scss", "compass";

body, html {
  font: 300 1em/1.5 sans-serif;
  background:#f1e9d6;
  height:100%;
}

body {
  visibility: hidden;
}

.content {
  max-width:23em;
  margin:0 auto;
  padding:4em 0;
}

.gravatar {
  background: sprite($icons, gravatar) no-repeat;
  @include sprite-dimensions($icons, gravatar);
  margin:auto;
  &:hover {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}

h1.logo {
  background: image-url('icons/logo.png') no-repeat;
  background-size:contain;
  width:23em;
  height:3.9em;
  margin:2em auto;
  max-width:100%;
  display:block;
  text-indent:-99999px;
  font-size:1rem;

}

section.links {
  height:51px;
  a {
    display:block;
    float:left;
    margin:0 1.5em 2em 0;
    &:last-child {
      margin-right:0;
    }
    i {
      display:block;
      position:relative;
      &:hover {
        &:after {
          content: "";
          @include sprite-dimensions($icons, arrow);
          background: image-url('icons/arrow.png') no-repeat;
          background-size:contain;
          position:absolute;
          bottom: -1.5rem;
          left: 50%;
          margin-left: -10px;
          animation: blink 0.5s steps(2, start) infinite;
          -webkit-animation: blink 0.5s steps(2, start) infinite;
        }
      }
      &.icon-github {
        @include sprite-dimensions($icons, github);
        background: image-url('icons/github.png') no-repeat;
        background-size:contain;
      }
      &.icon-linkedin {
        @include sprite-dimensions($icons, linkedin);
        background: image-url('icons/linkedin.png') no-repeat;
        background-size:contain;
      }
      &.icon-facebook {
        @include sprite-dimensions($icons, facebook);
        background: image-url('icons/facebook.png') no-repeat;
        background-size:contain;
      }
      &.icon-twitter {
        @include sprite-dimensions($icons, twitter);
        background: image-url('icons/twitter.png') no-repeat;
        background-size:contain;
      }
      &.icon-instagram {
        @include sprite-dimensions($icons, instagram);
        background: image-url('icons/instagram.png') no-repeat;
        background-size:contain;
      }
    }
  }
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}