.container
  %header
  .content
    .gravatar
    .logo
    %section.links
      %a{href: "http://www.github.com/vaicine"}
        %i.icon-github
      %a{href: "http://www.facebook.com/vaicine"}
        %i.icon-facebook
      %a{href: "http://www.linkedin.com/in/jamesharries"}
        %i.icon-linkedin
      %a{href: "http://www.instagram.com/jameslharries"}
        %i.icon-instagram
      %a{href: "http://www.twitter.com/vaicine"}
        %i.icon-twitter
%footer